@cha@charset "utf-8";
/* CSS Document */

body {
    background-color:#E0AFDE;
    
}

#calculator {
    margin-left: calc(50% - 207px);
}

#display {
    margin: 0px 0px 0px 20px;
    background-color: lightskyblue;
    border: none;
    width: 415px;
    height: 100px;
    font-size: 25px;
}


.inputRow {
    margin: 2px 0px 0px 20px;
    max-width: 420px
}


.number {
    margin: 2px 0px 0px 0px;
    border: none;
    width: 100px;
    height: 100px;
    font-size: 25px;
    background-color:#B7C0E5;
}


.number:hover {
    background-color: lightskyblue;
}


.operator {
    margin: 2px 0px 0px 0px;
    border: none;
    width: 100px;
    height: 100px;
    font-size: 25px;
}

.operator:hover {
    background-color: #B7C0E5; 
}

.operatore { 
    margin: 2px 0px 0px 0px;
    border: none;
    width: 415px;
    height: 100px;
    font-size: 25px;
}

.operatore:hover {
    background-color: #B7C0E5;   
}
