@charset "utf-8";
/* CSS Document */

html, body {
   max-width: 100%;
   overflow-x: hidden;
}

h1 {
    font-family: 'Arial';
    font-weight: bold;
    font-size: 60px; 
    width: 0px;
    position: fixed;
    top: 45px;
    left: 439px;
    line-height: 60px;
}

h2 {
    font-family: 'Arial';
    font-weight:  bold;
    font-size: 200px;
    margin: 470px 0px 0px 420px;
}

h3 {
    font-family: 'Corbel';
    font-weight: 400;
    font-style: italic;
    font-size: 70px;
    margin: -215px 0px 0px 820px;
    
}

p {
    font-family: 'Corbel';
    font-weight: 400;
    font-size: 30px;
    margin: 50px 0px 500px 1090px;
}

.bottom {
    margin-bottom: -410px;
}

.circle1 {
    height: 540px;
    width: 540px;
    border-radius: 50%;
    border: 4px solid black;
    opacity: 60%;
    position: absolute; 
    top: 150px;
    left:-100px;
}

.circle2 {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    border: 4px solid black;
    opacity: 60%;
    position: fixed; 
    top: 190px;
    left: 254px;
}

.circle3 {
    height: 1400px;
    width: 1400px;
    border-radius: 50%;
    border: 4px solid black;
    opacity: 60%;
    position: absolute; 
    top: -850px;
    right: -550px;
}

.circle4 {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 4px solid black;
    opacity: 60%;
    position: fixed; 
    top: 100px;
    right: -90px;
}

.circle5 {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 4px solid black;
    opacity: 60%;
    position: fixed; 
    top: 680px;
    left: 700px;
}

.circle6 {
    height: 900px;
    width: 900px;
    border-radius: 50%;
    border: 4px dashed black;
    opacity: 10%;
    position: absolute; 
    top: 330px;
    left: 300px;
}

.circle7 {
    height: 1200px;
    width: 1200px;
    border-radius: 50%;
    border: 4px dashed black;
    opacity: 10%;
    position: absolute; 
    top: -315px;
    left: 550px;
}

.circle8 {
    height: 900px;
    width: 900px;
    border-radius: 50%;
    border: 4px dashed black;
    opacity: 10%;
    position: absolute; 
    top: 1800px;
    left: 300px;
}

.circle9 {
    height: 1200px;
    width: 1200px;
    border-radius: 50%;
    border: 4px dashed black;
    opacity: 10%;
    position: absolute; 
    top: 2680px;
    left: 550px;
}

.circle10 {
    height: 900px;
    width: 900px;
    border-radius: 50%;
    border: 4px dashed black;
    opacity: 10%;
    position: absolute; 
    top: 4700px;
    left: 300px;
}

.circle11 {
    height: 1200px;
    width: 1200px;
    border-radius: 50%;
    border: 4px dashed black;
    opacity: 10%;
    position: absolute; 
    top: 5550px;
    left: 550px;
}


@media (max-width: 840px) {
    h1 {
    font-size: 40px; 
    left: 280px;
    line-height: 40px;
}   
    
    h2 {
    font-size: 100px;
    margin: 470px 0px 0px 120px;
}
    h3 {
    font-size: 60px;
    margin: -215px 0px 0px 390px;
    
}
    p {
    font-size: 20px;
    margin: 40px 0px 500px 390px;
}
    .circle1 {
    left:-300px;
}
    .circle2 {
    left: 55px;
}
    .circle3 {
    top: -1090px;
}
    .circle4 { 
    top: -100px;
}
    .circle5 { 
    top: 580px;
    left: 250px;
}   
    
}
































